@import "tailwindcss";

@theme {
  --color-background: 20 14.3% 4.1%;
  --color-foreground: 0 0% 95%;

  --color-card: 24 9.8% 10%;
  --color-card-foreground: 0 0% 95%;

  --color-popover: 0 0% 9%;
  --color-popover-foreground: 0 0% 95%;

  --color-primary: 142.1 70.6% 45.3%;
  --color-primary-foreground: 144.9 80.4% 10%;

  --color-secondary: 240 3.7% 15.9%;
  --color-secondary-foreground: 0 0% 98%;

  --color-muted: 0 0% 15%;
  --color-muted-foreground: 240 5% 64.9%;

  --color-accent: 12 6.5% 15.1%;
  --color-accent-foreground: 0 0% 98%;

  --color-destructive: 0 62.8% 30.6%;
  --color-destructive-foreground: 0 85.7% 97.3%;

  --color-border: 240 3.7% 15.9%;
  --color-input: 240 3.7% 15.9%;
  --color-ring: 142.4 71.8% 29.2%;

  --color-green-400: rgb(74 222 128);
  --color-red-400: rgb(248 113 113);

  --font-sans: "Mona Sans";
}

:root {
  font-family: var(--font-sans), sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5); 
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 114, 128, 0.5);
}

::selection {
  background-color: white;
  color: hsl(var(--color-background));
}

body {
  color: hsl(var(--color-foreground));
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.dark body {
  background-color: hsl(var(--color-background));
}

code {
  background-color: #171717;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin: 0 0.25rem;
}

.orientation-sideways { text-orientation: sideways; }
.orientation-upright { text-orientation: upright; }
.orientation-mixed { text-orientation: mixed; }
.orientation-sideways-right { text-orientation: sideways-right; }
.orientation-glyph { text-orientation: use-glyph-orientation; }
.vertical-writing-lr { writing-mode: vertical-lr; }
.vertical-writing-rl { writing-mode: vertical-rl; }
.horizontal-writing-tb { writing-mode: horizontal-tb; }

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  display: inline-block;
}
